{% load static %}
<html>
    <head>
        <title>Wordle clone</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'clone/index.css' %}">
        <link rel="stylesheet" href="{% static 'clone/style.css' %}">
        <script>
            var word = "{{ context }}";
            guessList = "{{ words }}"
           
        </script>
       
       
    </head>

    <body>
        <input type="text" name="" hidden id="topp">
        <h1 id="title">Wordle 🎯📚</h1>
        <hr>
        <br>
        <div id="board">
        </div>

        <br>
        <h1 id="answer"></h1>
    </body>
    <script src="{% static 'clone/index.js' %}"></script>
    <script src="{% static 'clone/cute-alert.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
</html>
